@{
    ViewBag.Title = "Home Page";
}
<div class="landing">
    <div class="home-wrap">
        <div class="hero-image">
            <div class="hero-text">
                <h1> Welcome</h1>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </h3>
                <a class="btn btn-outline-light btn-lg" href="">Get Started</a>
            </div>
        </div>
    </div>
   
</div>





<!-- About -->

<div class="col-12 narrow text-center">
    <h1>About Us </h1>
    <h2 style="text-align:center">Product Card</h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="~/img/c2.jpg" />
                <h1>Tailored Jeans</h1>
                <p class="price">$19.99</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="~/img/c3.jpg" />
                <h1>Tailored Jeans</h1>
                <p class="price">$19.99</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="~/img/c4.jpg" />
                <h1>Tailored Jeans</h1>
                <p class="price">$19.99</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <a class="btn btn-secondary btn-md" href="">See our portfolio</a>
    </div>

<!-- Offer -->

    <div class="jumbotron">

        <div class="narrow text-center">
            <div class="col-12">
                <h3 class="heading">
                    What we Offer
                </h3>
                <div class="heading-underline"></div>

            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="offer">
                        <h3>
                           High Quality
                        </h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="offer">
                        <i class="	fa fa-mobile-phone"></i>
                        <h3>
                           100% Responsive Support
                        </h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="offer">
                        <i class="	fa fa-desktop"></i>
                        <h3>
                           Customer Suppport
                        </h3>
                    </div>
                </div>

            </div>
         
            </div>
        </div>

<!-- Our Mission -->

<div class=" mission row">
    <div class="col-md-6 justify-content-center">
        <h3 class="heading text-center">
            Our Promise
        </h3>
        <div class="heading-underline"></div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, quam? Eligendi, minima tenetur. Blanditiis perspiciatis ex quam rem, nisi fugit possimus quisquam a ducimus exercitationem explicabo, culpa laboriosam laborum deleniti.</p>
        <a class="btn btn-outline-light btn-lg" href="">Learn More</a>
    </div>
    <div class="col-md-6 justify-content-center info">
       
        <img src="~/img/c5.jpg" />
    </div>
</div>

<!-- Offers -->

<div class="fixed-background">
    <div class="row dark text-center">

        <div class="col-12">
            <h3 class="heading">
                What we are best at
            </h3>
            <div class="heading-underline">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Making Quality Products</h3>
                    <div class="offer">
                        <i class="fa fa-html5"></i>
                    </div>
                    <p class="lead">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Customer Satisfaction</h3>
                    <div class="offer">
                        <i class="	fa fa-css3	"></i>
                    </div>
                    <p class="lead">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Providing Support</h3>
                    <div class="offer">
                        <i class="		fa fa-code-fork"></i>
                    </div>
                    <p class="lead">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Testimonials -->
<div class="jumbotron">
    <div class="col-12 text-center">
        <h3 class="heading">
            Our Clients
        </h3>
        <div class="heading-underline"></div>

    </div>
    <div class="row">
        <div class="col-md-6 clients">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/img/r7.jpg" />
                </div>
                <div class="col-md-8">
                    <blockquote>
                        <i class="	fa fa-quote-left"></i>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde expedita consequuntur quam, provident
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-6 clients">
            <div class="row">
                <div class="col-md-4">

                    <img src="~/img/r8.jpg" />
                </div>
                <div class="col-md-8">
                    <blockquote>
                        <i class="		fa fa-quote-left"></i>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, unde expedita consequuntur quam, provident
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Subscription-->
<div class="col-12 narrow text-center subscribe">
    <p class="lead">Stay Updated to our news and updates</p><br>
    <div class="row">
        <div class="col-12">
            <input type="text" class="form-control form-control">
            <a class="btn btn-secondary btn-md" href="">Subscribe</a>
        </div>
    </div>

</div>
